.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.rotate20 {
  .rotate(20deg);
}

.my-cap { 
  margin:3px;
  text-align:center;
  font-style:italic;
  width:100%
}

.buffer {
  height:100px;
}

.img-wrap-right{
  display: inline-block;
  float:right;
  width:40%;
  height:auto;
  margin: 5px;
}

.contact-block{
  width:33%;
  display: inline-block;
  float:left;
/*  margin-left: 5px;
  margin-right: 5px;
*/}