<a href="https://ui.adsabs.harvard.edu/abs/2018ApJ...855..127W/abstract" class="list-group-item list-group-item-action" target=_blank>
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">Nonradial Pulsations in Post-outburst Novae</h5>
    <small>2018</small>
  </div>
  <p class="mb-1"><strong>William M. Wolf</strong>, Richard H. D. Townsend, and Lars Bildsten</p>
  <small>The Astrophysical Journal</small>
</a><a href="https://ui.adsabs.harvard.edu/abs/2013ApJ...777..136W/abstract" class="list-group-item list-group-item-action" target=_blank>
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">Hydrogen Burning on Accreting White Dwarfs: Stability, Recurrent Novae, and the Post-nova Supersoft Phase</h5>
    <small>2013</small>
  </div>
  <p class="mb-1"><strong>William M. Wolf</strong>, Lars Bildsten, Jared Brooks, et al.</p>
  <small>The Astrophysical Journal</small>
</a>