<div class="row vcenter">
  <div class="col-sm-8 initially-hidden"
    ><h2>In a nutshell...</h2
    ><p>I'm an assistant professor in the 
      <a href="https://www.uwec.edu/physics" target=_blank>
        Department of Physics and Astronomy
      </a> at 
      <a href="https://www.uwec.edu">University of Wisconsin - Eau Claire</a>
      teaching physics and researching stellar astrophysics.
    </p
 ></div
 ><div class="col-sm-4 vcenter initially-hidden"
   ><figure class='figure'><img src="/images/20180815_MG_3330_sRGB.png" class="figure-img img-fluid rounded-lg" alt="Picture of Bill" 
   ></figure><figcaption class="figure-caption text-center"
     ><em>Me in 2018. Image credit: <a href="https://www.jakubostrowski.com" target=_blank>
     Jakub Ostrowski</a></em>.
    </figcaption>
  </div>
</div>