<div class="row vcenter">
  <div class="col-sm-8 initially-hidden"
    ><h2>In a nutshell...</h2
    ><p>I'm a postdoctoral research associate at the 
      <a href="https://sese.asu.edu" target=_blank>
        School of Earth and Space Expolration
      </a> at 
      <a href="https://www.asu.edu">Arizona State University</a>
      studying stellar astrophysics.
      I work primarily with 
      <a href="http://cococubed.asu.edu" target=_blank>Frank Timmes</a>
      on the modeling of accreting white dwarfs.</p
 ><p>
  In Fall 2019, I will be moving to the
  <a href="https://www.uwec.edu/physics" target=_blank>
    Department of Physics and Astronomy
  </a>
  at the
  <a href="https://www.uwec.edu" target=_blank>
    University of Wisconsin-Eau Claire
  </a>
  as an assistant professor.</div
 ><div class="col-sm-4 vcenter initially-hidden"
   ><figure class='figure'><img src="/images/20180815_MG_3330_sRGB.png" class="figure-img img-fluid rounded-lg" alt="Picture of Bill" 
   ></figure><figcaption class="figure-caption text-center"
     ><em>Me in 2018. Image credit: <a href="https://www.jakubostrowski.com" target=_blank>
     Jakub Ostrowski</a></em>.
    </figcaption>
  </div>
</div>