<h2 id='overview'> Overview </h2>
<p>
  This guide is meant to supplement the live tutorial given by Andrew Cumming and Bill Wolf at the
  <a href="http://www.lorentzcenter.nl/lc/web/2019/1174/info.php3?wsid=1174&venue=Snellius" target=_blank>
    Bursting the Bubble
  </a>
  workshop hosted at
  <a href="http://www.lorentzcenter.nl" target=_blank>
    the Lorentz Center
  </a>
  at the
  <a href="www.leiden.edu" target=_blank>
    The University of Leiden
  </a> in June 2019. Here, we'll help new users of Modules for Experiments in Stellar Astrophysics (<samp>MESA</samp>) get started with the tool to model thermonuclear bursts on white dwarfs and neutron stars. We'll leave this tutorial online for at least awhile afterwards in the hopes that it proves to be a helpful guide for getting started with bursts in <samp>MESA</samp>, but these instructions are aimed at participants going through the tutorial at the workshop. It will likely fall out of date as the interface of <samp>MESA</samp> changes in its development and the hyperlinks on this page become outdated.
</p>
<p>
  You should complete Part 0 before the tutorial begins on Tuesday afternoon. If you have issues, reach out to Andrew on Monday to get set up in advance of the tutorial.
</p>
<p>
  Throughout this page, monospaced text on a black background, like this: <kbd>echo "Hello, World!"</kbd> represent commands you can type into your terminal and execute, while red monospaced text like this: <code>mass_change = 1d-9</code> represent file names or values that you might type into a file, but not something to be executed.
</p>

<h2 id='part0'>Part 0: Before You Arrive</h2>
<p>
  Installing <samp>MESA</samp> and its prerequisites is not particularly difficult for most users and systems, but it can take a little time to download and compile, so you should do this before the tutorial, and ideally early enough so that you can ask Andrew for help on Monday. 
</p>
<h4 id="part0a">Installing the SDK</h4>
<p>
  While <samp>MESA</samp> can be run on custom compilers and other tools with a fair amount of work, the <samp>MESA</samp> SDK is the easiest way to get started. Get the SDK with the link below, and follow the instructions for your particular system, noting the prerequsites.
</p>
<p class='text-center'>
  <a href="http://www.astro.wisc.edu/~townsend/static.php?ref=mesasdk" class="btn btn-lg btn-primary" target=_blank>Get the MESA SDK</a>
</p>
<p>
  Your first step is to install the SDK and confirm that it works on your system by trying <code>which gfortran</code> in a terminal to confirm that the SDK version of gfortran is being used.
</p>
<div class="card border-warning mb-3 text-warning">
  <div class="card-header bg-warning text-white">Warning</div>
  <div class="card-body">
    <h5 class="card-title">Attention: macOS Mojave Users</h5>
    <p class="card-text">
      On OS X 10.14 (Mojave), you may also need to install the development header files. These ship as a standard part of Mojave, but must be installed by hand. To do so, run the command
    </p>
    <p class='card-text'>
      <code>
open /Library/Developer/CommandLineTools/Packages/macOS_SDK_headers_for_macOS_10.14.pkg
      </code>
    </p>
    <p>
      This step may need to be repeated whenever you upgrade to a new release of the Xcode command-line tools.
    </p>
  </div>
</div>

<h4 id="part0b">Installing <samp>MESA</samp></h4>
<p>
  Once the SDK is properly installed, it's time to install <samp>MESA</samp> on your machine. This amounts to downloading a zip file, moving it to where you want, and executing an install script.
</p>
<p class='text-center'>
  <a href="http://mesa.sourceforge.net/prereqs.html#download-mesa" target=_blank class='btn btn-lg btn-primary'>Get MESA</a>
</p>
<h4 id="part0c">Your First MESA Run</h4>
<p>
  With <samp>MESA</samp> and its SDK installed, it's time to do a first run to make sure eveything is working properly. Follow the official tutorial and feel free to play around a bit once you've gotten the hang of it!
</p>
<p class='text-center'>
  <a href="http://mesa.sourceforge.net/starting.html#how-do-you-get-started-using-mesa-star" target=_blank class="btn btn-primary btn-lg">Getting Started with MESA</a>
</p>
<p>
  In that simple exercise, you learned how to create a new simulation in <samp>MESA</samp>. You then went into this new work directory, compiled it, and ran it. We now summarize these steps, as they are the most common path to creating a new simulation:
</p>
<ol>
  <li>Make new work directory: <code>cp -r $MESA_DIR/star/work tutorial</code></li>
  <li>Enter that directory: <code>cd tutorial</code></li>
  <li>Compile the work directory: <code>./mk</code></li>
  <li>Start the simulation: <code>./rn</code></li>
</ol>

<div class="card border-success mb-3 text-success">
  <div class="card-header bg-success text-white">
    <samp>MESA</samp> Best Practice: Work Directories
  </div>
  <div class="card-body">
    <p>
      Never run simulations from within your local installation of <samp>MESA</samp>. Depending on the value of <code>$MESA_DIR</code> is, you may not actually be compiling against the installation you think you are, and in general it's best to not mess with the source code.
    </p>
    <p>
      Instead, always make a copy of the standard work directory <code>$MESA_DIR/star/work</code> or start from one of the test cases in <code>$MESA_DIR/star/test_suite</code> (though those require a bit of work to be truly customized).
  </div>
</div>
<p> 
  You also should have learned a little about the inlist files that control the simulation as well as how to start a simulation (<kbd>./rn</kbd>) and restart from a photo (<kbd>./re <var>photo</var></kbd>, where <var>photo</var> is one of the files in the <code>photos</code> directory). Confirm that you know how to do all these things, and that you saw the terminal output and real-time plots indicated in the "gettings started" tutorial as you ran the simulation before moving on.
</p>

<p>
  If you're looking for a more in-depth tutorial into general use of <samp>MESA</samp> that will really prepare you for our work with bursts, <a href="https://yoshiyahu.org" target=_blank>Josiah Schwab</a> has prepared a great introduction to using inlists and much more for the <samp>MESA</samp> summer school.
</p>

<p class='text-center'>
  <a href="https://jschwab.github.io/mesa-2018/#orgbd38b04" target=_blank class="btn btn-lg btn-primary">
    [Optional] Go Deeper with MESA
  </a>
</p>

<h2 id="part1"> Part 1: MESA Basics </h2>
<p>
  <samp>MESA</samp> is a <strong>modular</strong> code, so different parts of the code handle different tasks needed in modeling stars. Most often, you'll be using the <code>star</code> module, which uses the other modules to compute a stellar model and evolve it in time. Let's take a look at the structure of a typical work directory.
</p>
<h4 id="part1a">Structure of a Work Directory</h4>
<p>
  Your tutorial work directory had the following files and directories. Click on each to learn about what each file or directory does.
</p>
<div class="row" id="workdir-files">
  <div class="col-md-3">
    <div class="list-group info-toggle" data-target="#file-description">
      <a href="#part1a" class="list-group-item list-group-item-action active" data-name="inlist" data-description="Instructions for how to model the star, including models to load, timestep controls, microphysics options, and on-screen plots. Often this punts to other inlist files to separate different functionalities.">
        inlist
      </a>
      <a href="#part1a" class="list-group-item list-group-item-action" data-name="inlist_project" data-description="Another inlist that <code>inlist</code> points to. The name isn't special; it just matches what extra inlist is loaded by <code>inlist</code>. This one controls all aspects of the model except on-screen plots.">inlist_project</a>
      <a href="#part1a" class="list-group-item list-group-item-action"data-name="inlist_pgstar" data-description="Another inlist that <code>inlist</code> points to. The name isn't special; it just matches what extra inlist is loaded by <code>inlist</code>. This one only controls on-screen plots.">inlist_pgstar</a>
      <a href="#part1a" class="list-group-item list-group-item-action" data-name="mk" data-description="Executable script that recompiles the local copy of <code>star</code>. You only need to execute this if you make changes to files in the <code>src</code> directory or upgrade <samp>MESA</samp>.">mk</a>
      <a href="#part1a" class="list-group-item list-group-item-action" data-name="rn" data-description="Executable that, after compilation with <code>mk</code> starts the simulation defined by <code>inlist</code> and any custom code in <code>src/run_star_extras.f</code>.">rn</a>
      <a href="#part1a" class="list-group-item list-group-item-action" data-name="re" data-description="Executable that restarts an interrupted or completed run from an earlier photo. It takes one argument, which is a photo file found in the <code>photos</code> directory.">re</a>
      
    </div>
  </div>
  <div class="col-md-3">
    <div class="list-group info-toggle" data-target="#file-description">
      <a href="#part1a" class="list-group-item list-group-item-action" data-name="clean" data-description="Executable that resets the compilation process done by <code>mk</code>. Typically only needed if you are running a simulation that was previously compiled by a different version of the SDK or from an older version of <samp>MESA</samp>">
        clean
      </a>
      <a href="#part1a" class="list-group-item list-group-item-action" data-name="star" data-description="The actual executable that evolves the stellar model. Usually this is wrapped by <code>rn</code> and <code>re</code>. You should almost never call it directly.">star</a>
      <a href="#part1a" class="list-group-item list-group-item-action"data-name="LOGS" data-description="Directory that holds all data from a run in history and profile files. These are stored in plain text. The name of this directory, how often the data is recorded, and what data is recorded are all customizable in the inlists and other files.">LOGS</a>
      <a href="#part1a" class="list-group-item list-group-item-action" data-name="photos" data-description="Directory that holds snapshots of the simulation stored in binary. These are used to restart the simulation, but they are <strong>not</strong> for long-term storage of the model, as their format changes from version to version.">photos</a>
      <a href="#part1a" class="list-group-item list-group-item-action" data-name="src" data-description="Directory that contains source code for the executable built by <code>mk</code>. Most is just read in from the main <code>MESA_DIR</code>, but you can add your own code to <code>run_star_extras.f</code>.">src</a>
      <a href="#part1a" class="list-group-item list-group-item-action" data-name="make" data-description="Directory that contains the makefile and byproducts of the compilation process. You rarely need to fiddle with this.">make</a>
      
    </div>
  </div>
  <div class="col-md-6">
    <div class="card" id='file-description'>
      <div class="card-header bg-primary text-white">
        <samp class='name'>inlist</samp>
      </div>
      <div class="card-body">
        <p class='card-text description'>
          Instructions for how to model the star, including models to load, timestep controls, microphysics options, and on-screen plots. Often this punts to other inlist files to separate different functionalities.
        </p>
      </div>
    </div>
  </div>
</div>

<h4 id='part1b'>MESA Output</h4>
<p>
  Output from a <samp>MESA</samp> simulation is stored in the <code>LOGS</code> directory (though you can change the name of this directory in the inlist). There are two primary types of output files: histories and profiles. Each simulation has one history file, typically called <code>history.data</code>, that records how scalar quantites related to the model like age and luminosity change through time. There can be many profiles saved, and each file gives a snapshot of quantities that vary throughout the entire star, like density and temperature. There is one other file, called <code>profiles.index</code>. This file relates the names of profiles to their corresponding model number (timestep) in the history file.
</p>

<p>
  How often profiles are written to disk, how many there are allowed to be before they start to get overwritten (they can get quite large!), how often a line is recorded in the history file, how the files are named, and many other output details can be customized in the inlist. The exact types of data that are recorded in the history and profiles are controlled in two other files that may or may not be in your work directory: <code>history_columns.list</code> and <code>profile_columns.list</code>. If these files do not exist in your work directory, they are read from their default location in <code>$MESA_DIR/star/defaults</code>.
</p>

<p>
  To enable/disable different columns in the output files, open the corresponding columns file and uncomment the names of columns you want to output, and comment out those that you don't.
</p>

<div class="card border-success mb-3 text-success">
  <div class="card-header bg-success text-white">
    <samp>MESA</samp> Best Practice: Output Column Files
  </div>
  <div class="card-body">
    <p>
      Don't edit the default columns files so that you don't get unexpected behavior in other projects. Instead, copy them into your local work directory via

      <p><kbd>cp $MESA_DIR/star/defaults/history_columns.list PATH/TO/WORK_DIR/</kbd></p>
      <p><kbd>cp $MESA_DIR/star/defaults/profile_columns.list PATH/TO/WORK_DIR/</kbd></p>
    </p>
    <p>
      Then, edit these files in your local work directory. <samp>MESA</samp> will always look for these files in the local directory before falling back to their default versions.
  </div>
</div>
<p>
  You can see a summary of each of the important files for <samp>MESA</samp> output by clicking on each of them below
</p>
<div class="row" id="output-files" style="min-height: 20em;">
  <div class="col-md-4">
    <h5>Files in <code>LOGS</code></h5>
    <div class="list-group info-toggle" data-target='#output-description'>
      <a href="#part1b" class="list-group-item list-group-item-action active" data-name="history.data" data-description="Data file with each line giving data for a model number/timestep. The columns used are determined by the uncommented lines in <code>history_columns.list</code>. You can set the frequency for outputting a line with the <code>history_interval</code> control in the <code>controls</code> namelist.">
        history.data
      </a>
      <a href="#part1b" class="list-group-item list-group-item-action" data-name="profilexx.data" data-description="Data file with one line for each cell/zone in the stellar model at a particular timestep. The columns of data that are determined by the uncommented lines in <code>profile_columns.list</code>. You can set the frequency for outputting a new profile with the <code>profile_interval</code> control in the <code>controls</code> namelist. The number of profiles saved before overwriting older profiles is set by the <code>max_num_profile_models</code> command in the <code>controls</code> namelist.">profilexx.data</a>
      <a href="#part1b" class="list-group-item list-group-item-action"data-name="profiles.index" data-description="Contains columns that give the model numbers and priorities (higher priority means less likely to be overwritten) for each profile. This allows you to map profile numbers (the <var>xx</var> in file <code>profilexx.data</code>, <strong>which may be non-monotonic in time</strong>, with model numbers, and thus is the key to relate profiles with lines in the history file.">profiles.index</a>
    </div>
    <h5 style="padding-top: 1em;">Optional in Work Dir</h5>
    <div class="list-group info-toggle" data-target='#output-description'>
      <a href="#part1b" class="list-group-item list-group-item-action" data-name="history_columns.list" data-description="A list of quantities that can be output in <code>history.data</code>. If you don't have this file, the default version in <code>$MESA_DIR/star/defaults</code> will be read. Uncomment lines to enable reporting of quantities, and comment them out to disable them. This file also controls what quantities can be plotted in on-screen history plots.">
        history_columns.list
      </a>
      <a href="#part1b" class="list-group-item list-group-item-action" data-name="profile_columns.list" data-description="A list of quantities that can be output in profile files. If you don't have this file, the default version in <code>$MESA_DIR/star/defaults</code> will be read. Uncomment lines to enable reporting of quantities, and comment them out to disable them.">
        profile_columns.list
      </a>
    </div>
  </div>
  <div class="col-md-8 vcenter">
    <div class="card" id='output-description'>
      <div class="card-header bg-primary text-white">
        <samp class='name'>history.data</samp>
      </div>
      <div class="card-body">
        <p class='card-text description'>
          Data file with one line for each model number/timestep (or every <var>n</var> models. The columns used are determined by the uncommented lines in <code>history_columns.list</code>. You can set the frequency for outputting a line with the <code>history_interval</code> control in the <code>controls</code> namelist.
        </p>
      </div>
    </div>
  </div>
</div>
<p style="padding-top: 20px;">
  The main <samp>MESA</samp> website has suggestions for how to work with MESA output, including a recommended python library for reading and plotting it after the simulation is over.
</p>
<p class='text-center'>
  <a href="http://mesa.sourceforge.net/output.html" target=_blank class='btn btn-lg btn-primary'>
    Learn More About Output
  </a>
</p>

<h4 id='part1c'>Working with Inlists</h4>
<p>
  When you execute <kbd>./rn</kbd> or <kbd>./re <var>photo</var></kbd> in a vanilla work directory, <samp>MESA</samp> reads instructions from <code>inlist</code>. The name of the file <em>must</em> be "inlist". The inlist is composed of three <em>namelists</em>, which are series of name-value pairs, set off at the top by <code>&<var>namelist</var></code> where <var>namelist</var> is the name of the namelist, and concluded by a line with a single slash: <code>/</code>. See for example, the contents of <code>inlist</code> from the initial tutorial.
</p>
<h5>Contents of <code>inlist</code></h5>
{% highlight fortran %}
! this is the master inlist that MESA reads when it starts.

! This file tells MESA to go look elsewhere for its configuration
! info. This makes changing between different inlists easier, by
! allowing you to easily change the name of the file that gets read.

&star_job

    read_extra_star_job_inlist1 = .true.
    extra_star_job_inlist1_name = 'inlist_project'

/ ! end of star_job namelist


&controls

    read_extra_controls_inlist1 = .true.
    extra_controls_inlist1_name = 'inlist_project'

/ ! end of controls namelist


&pgstar

    read_extra_pgstar_inlist1 = .true.
    extra_pgstar_inlist1_name = 'inlist_pgstar'

/ ! end of pgstar namelist
{% endhighlight %}
<p>
  In <samp>MESA star</samp>, there are three types of namelists, and all three are in this example inlist. Click through each namelist below to learn what each is used for. You can also find documentation for each namelist on the <a href="http://mesa.sourceforge.net" target=_blank><samp>MESA</samp> home page</a> that is automatically generated from the defaults files. 
</p>
<div class="row" id="namelists" style="min-height: 15em">
  <div class="col-md-3">
    <div class="list-group info-toggle" data-target='#namelist-description'>
      <a href="#part1c" class="list-group-item list-group-item-action active" data-name="star_job" data-description="Contains controls for the program that evolves the star. For instance, whether or not the program should load a model or save one. Also tells the program where to find opacity and eos tables, what nuclear network to use, and other fundamental options that deal with modules outside of <samp>star</samp>. Defaults values and documentation for options are found in <code>$MESA_DIR/star/defaults/star_job.defaults</code>.">
        star_job
      </a>
      <a href="#part1c" class="list-group-item list-group-item-action" data-name="controls" data-description="Sets parameters relevant to the <samp>star</samp> module. These are more specific instructions on how the model should proceed. The initial mass, assumptions for how convection should work, how often profiles should be output, and when the program should stop are all set here. Default values and documentation for options are found in <code>$MESA_DIR/star/defaults/controls.defaults</samp>.">
        controls
      </a>
      <a href="#part1c" class="list-group-item list-group-item-action"data-name="pgstar" data-description="Controls on-screen plots during the run of the program, including saving them as png files. We won't cover this here, but see the information in <code>pgstar.README</code> and <code>pgstar.defaults</code>, in <code>$MESA_DIR/star/defaults</code>. Also see the <a href='https://youtu.be/8vFfM2f46yw' target=_blank>tutorial from Frank Timmes</a>, which walks you through a rich example. Just be sure to use the <a href='http://cococubed.asu.edu/mesa_market/education.html' target=_blank>most updated work directory available</a> if you play along.">
        pgstar
      </a>
    </div>
  </div>
  <div class="col-md-9">
    <div class="card" id='namelist-description'>
      <div class="card-header bg-primary text-white">
        <samp class='name'>star_job</samp>
      </div>
      <div class="card-body">
        <p class='card-text description'>
          Contains controls for the program that evolves the star. For instance, whether or not the program should load a model or save one. Also tells the program where to find opacity and eos tables, what nuclear network to use, and other fundamental options. Defaults are found in <code>$MESA_DIR/star/defaults/star_job.defaults</code>.
        </p>
      </div>
    </div>
  </div>
</div>
<p>
  In this case, each namelist only has two controls set. The first tells the namelist to read values from another file, which must also be set up in this way. The second tells it the name of the file to read in.
</p>

<div class="card border-success mb-3 text-success">
  <div class="card-header bg-success text-white">
    <samp>MESA</samp> Best Practice: Multiple Inlists
  </div>
  <div class="card-body">
    <p>
      It may seem needlessly complicated to have inlists pointing to each other instead of putting all controls in one inlist, but this is often very convenient, since large inlists can become cumbersome.
    </p>
    <p>
      A common convention is to have a "favorites" list in an inlist, named something like <code>inlist_common</code>. Here you have your preferred default settings. Then in another inlist, you put the truly unique quantities that differentiate this simulation from others.
    </p>
    <p>
      pgstar namelists can also become quite lengthy, so it is extremely common to see them broke out into their own file, typically called <code>inlist_pgstar</code>.
    </p>
    <p>
      There's nothing stopping you from just having one giant inlist with all of your controls, though!
    </p>
  </div>
</div>
<p>
  For completeness, let's look at the contents of <code>inlist_project</code> to see some more typical namelists.
</p>
<h5>Contents of <code>inlist_project</code></h5>
{% highlight fortran %}
! inlist to evolve a 15 solar mass star

! For the sake of future readers of this file (yourself included),
! ONLY include the controls you are actually using.  DO NOT include
! all of the other controls that simply have their default values.

&star_job

  ! begin with a pre-main sequence model
    create_pre_main_sequence_model = .true.

  ! save a model at the end of the run
    save_model_when_terminate = .false.
    save_model_filename = '15M_at_TAMS.mod'

  ! display on-screen plots
    pgstar_flag = .true.

/ !end of star_job namelist


&controls

  ! starting specifications
    initial_mass = 15 ! in Msun units

  ! options for energy conservation (see MESA V, Section 3)
     use_dedt_form_of_energy_eqn = .true.
     use_gold_tolerances = .true.

  ! stop when the star nears ZAMS (Lnuc/L > 0.99)
    Lnuc_div_L_zams_limit = 0.99d0
    stop_near_zams = .true.

  ! stop when the center mass fraction of h1 drops below this limit
    xa_central_lower_limit_species(1) = 'h1'
    xa_central_lower_limit(1) = 1d-3

/ ! end of controls namelist
{% endhighlight %}
<p>
  Note here that there are only two namelists (<code>pgstar</code> is relegated to <code>inlist_pgstar</code>). If you are unfamiliar with fortran syntax, note also the literals for booleans, <code>.true.</code> and <code>.false.</code> as well as how array assignment works, as in <code>xa_central_lower_limit(1) = 1d-3</code>
</p>

<div class="card border-warning mb-3 text-warning">
  <div class="card-header bg-warning text-white">Warning: Inlist Pitfalls</div>
  <div class="card-body">
    <p class="card-text">
      The syntax of inlists is somewhat strict. While whitespace doesn't matter, please observe the following rules to avoid sadness.
    </p>
    <ul>
      <li>
        Don't use any mathematical operators in values, only literals (strings, floats, integers, and logicals).
      </li>
      <li>
        Don't use control statements like <code>if</code> or <code>while</code>
      </li>
      <li>
        Always use double precision numbers for floats, as in <code>1d3</code> rather than <code>1000.0</code> or <code>1e3</code>
      </li>
      <li>
        Put controls in their correct namelists. Capitalizaition is not important, but spelling is.
      </li>
    </ul>
    <p class="card-text">Some of these shortcomings can be mitigated by using a third-party tool, <a href="http://wmwolf.github.io/MesaScript/" target=_blank>MesaScript</a>, but this is beyond the scope of this tutorial.
    </p>
  </div>
</div>

<h4 id=part1d>Compiling, Running, and Restarting</h4>
<p>
  So you have set up a new work directory, edited your inlists with controls found in <code>$MESA_DIR/star/defaults</code>, and you're ready to run your model. First, you need to compile!
</p>
<h5>Compiling and Troubleshooting</h5>
<p>
  To compile your code, execute <kbd>./mk</kbd>. You should see a few lines fly by on your terminal, and hopefully no errors. If you do have errors, check the following:
</p>
<ul>
  <li>
    Make sure you have <code>$MESASDK_ROOT</code> set up via <kbd>echo $MESASDK_ROOT</kbd>
  </li>
  <li>
    Make sure the SDK is initialized. A quick indication that this is fine is to run <kbd>which gfortran</kbd> and making sure the resulting path points to the gfortran in the SDK.
  </li>
  <li>
    If you've made edits to <code>src/run_star_extras.f</code> (more on this later), check the error output for indications that you have bugs in your code.
  </li>
  <li>
    Try first running <kbd>./clean</kbd> and then do <kbd>./mk</kbd>
  </li>
  <li>
    Finally, something may be wrong with your MESA installation, so try recompiling it with
    <pre>
<kbd>cd $MESA_DIR</kbd>
<kbd>./clean</kbd>
<kbd>./install</kbd></pre>
  </li>
  <li>
    And if none of that works, try completely re-installing <samp>MESA</samp>
  </li>
</ul>
<h5>Running and Real-time Output</h5>
<p>
  Assuming that you have successfully compiled your work directory, start the simulation with <kbd>./rn</kbd>. Soon, terminal output should indicate that models are being computed. Note that you will want your terminal to be wide enough to fit each step's data without wrapping. Your terminal should be at least 146 columns wide for proper viewing.
</p>
<figure class='figure'>
  <img class='figure-image img img-fluid' src=./images/terminal_small.png alt="wrapped terminal output">
  <figcaption class='figure-caption'>
    Terminal output when the terminal is too small. The lines wrap and it becomes very difficult to interpret.
  </figcaption>
</figure>
<figure class='figure'>
  <img class='figure-image img img-fluid' src=./images/terminal_good.png alt="wrapped terminal output">
  <figcaption class='figure-caption'>
    Terminal output when the terminal is wide enough. Each chunk of three lines give summary data for each timestep. The headers are printed every few printed timesteps and guide you to the meaning of each number. In this figure, we indicated that the first row of the third column always gives the effective temperature in our stellar model.
  </figcaption>
</figure>

<p>
  These data can be helpful, but usually real-time plots from pgstar are a better way to understand how your stellar model is evolving. In order to see these plots, you'll need to properly configure your <code>pgstar</code> namelist (not covered here) and set <code>pgstar_flag = .true.</code> in your <code>star_job</code> namelist. If you have this set up, as in the standard work directory, plots (in this case a temperature-density profile as well as an HR diagram track) will appear in their own windows as the terminal output begins.
</p>
<h5>Restarting and Photos</h5>
<p>
  Sometimes you'll have to stop your simulation to adjust the inlist or because you need th computing power for some other task. You can do this by executing <kbd>ctrl-C</kbd>. But now do you have to restart the whole simulation? Fortunately, no! You can restart from a "photo". A photo is a snapshot of your stellar model dumped into a binary file.
</p>
<p>
  By default <samp>MESA</samp> saves a photo to the <code>photos</code> directory every 50 timesteps. They are named such that the last three digits are the same as the last three digits of their corresponding timestep. To save disk space, they are overwritten every thousand timesteps. That is, step 1050 will be saved as the file <code>x050</code> in <code>photos</code> (where the x is literally there), and it will be overwritten when step 2050 does the same thing. To give longer-term access, every thousand timesteps will remain indefinitely, so timesteps 1000 and 2000 will save photos <code>1000</code> and <code>2000</code>, respectively.
</p>
<p>
  To restart from photo <code>x050</code>, simply execute <kbd>./re x050</kbd>, assuming it exists in <code>photos</code>. <code>inlist</code> will be read again, so you can change commands on the fly, though in practice this is difficult to reproduce, so you should only use this workflow when you are prototyping a simulation.
</p>
<div class="card border-warning mb-3 text-warning">
  <div class="card-header bg-warning text-white">Warning: Photo Pitfalls</div>
  <div class="card-body">
    <h5 class='card-text'><strong>Photos are not the same as saved models.</strong></h5>
    <p class="card-text"> 
      Photos are...
      <ul>
        <li>Binary (not readable by anything other than MESA)</li>
        <li>Sensitive to changes in the MESA source, so they will work reliably on other versions of MESA</li>
        <li>A complete record of the star; it is the same as if the simulation had never been stopped</li>
      </ul>
      Saved models are...
      <ul>
        <li>Plain text and human-readable</li>
        <li>Robust to changes in the MESA source, and may be used on different revisions</li>
        <li>
          A mostly complete record, but you may notice small differences between a model that is restarted from a photo compared to one loaded from a model saved at the same timestep with the same inlist.
        </li>
      </ul>
    </p>
  </div>
</div>
<div class='buffer-small'></div>
<p>
  There's much more to learn about how to bend <samp>MESA</samp> to your will, including adding your own physics through code, but you know enough now to be dangerous. We'll touch on some more advanced techniques later.
</p>