<nav class="nav nav-pills flex-column" id='side-nav'>
  <a class="nav-link" href="#overview">Overview</a>
  <a class="nav-link" href="#part0">Part 0: Before You Arrive</a>
  <nav class="nav nav-pills flex-column">
    <a class="nav-link ml-3 my-1" href="#part0a">Installing the SDK</a>
    <a class="nav-link ml-3 my-1" href="#part0b">Installing MESA</a>
    <a class="nav-link ml-3 my-1" href="#part0c">Your First MESA Run</a>
  </nav>
  <a class="nav-link" href="#part1">Part 1: MESA Basics</a>
  <nav class="nav nav-pills flex-column">
    <a class="nav-link ml-3 my-1" href="#part1a">Structure of Work Directory</a>
    <a class="nav-link ml-3 my-1" href="#part1b">MESA Output</a>
    <a class="nav-link ml-3 my-1" href="#part1c">Working with Inlists</a>
    <a class="nav-link ml-3 my-1" href="#part1d">Compiling, Running, and Restarting</a>
  </nav>
  <a class="nav-link" href="#part2">Part 2: X-ray Bursts</a>
  <a class="nav-link" href="#part3">Part 3: Recurrent Novae</a>
  <nav class="nav nav-pills flex-column">
    <a class="nav-link ml-3 my-1" href="#part3a">Background</a>
    <a class="nav-link ml-3 my-1" href="#part3b">Starting from a Test Case</a>
    <a class="nav-link ml-3 my-1" href="#part3c">Finding the Stability Boundary</a>
    <a class="nav-link ml-3 my-1" href="#part3d">Resolving the SSS phase</a>
    <a class="nav-link ml-3 my-1" href="#part3e">A New Wind Scheme</a>
    <a class="nav-link ml-3 my-1" href="#part3f">Controlling Accretion</a>
  </nav>

</nav>
