<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="sr-only">Toggle Navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Bill Wolf</a>
  </div>  
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar-collapse">
    <ul class="nav navbar-nav">
      <li 
        {% if page.realm == "about bill" %}
          class="active"
        {% endif %}>
        <a href="/about_bill">About Bill</a>
      </li>
      <li
        {% if page.realm == "research" %}
          class="active"
        {% endif %}>
        <a href="/research">Research</a>
      </li>
      <li
        {% if page.realm == "teaching" %}
          class="active"
        {% endif %}>
        <a href="/teaching">Teaching</a>
      </li>
      <li
        {% if page.realm == "projects" %}
          class="active"
        {% endif %}>
        <a href="/projects">Projects</a>
      </li>
      <!-- <li
        {% if page.realm == "links" %}
          class="active"
        {% endif %}>
        <a href="{{site.url}}/links">Links</a>
      </li> -->
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="http://www.physics.ucsb.edu/~astrogroup">
        UCSB Astro
      </a></li>
    </ul>
  </div>
</nav>
