<!-- <div class="container"> -->
<nav class="navbar navbar-expand-lg navbar-dark" role="navigation" id='main-nav'>
  <div class="container">   
    <a class="navbar-brand text-white" href="/">Bill Wolf</a>
    <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-white"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link text-white" href="/about_bill">About Bill</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/research">Research</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/teaching">Teaching</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/projects">Projects</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- </div> -->
