<nav class="nav nav-pills flex-column" id='side-nav'>
  <a class="nav-link" href="#overview">Overview</a>
  <a class="nav-link" href="#part0">Part 0: Before You Arrive</a>
  <nav class="nav nav-pills flex-column">
    <a class="nav-link ml-3 my-1" href="#part0a">Installing the SDK</a>
    <a class="nav-link ml-3 my-1" href="#part0b">Installing MESA</a>
    <a class="nav-link ml-3 my-1" href="#part0c">Your First MESA Run</a>
  </nav>
  <a class="nav-link" href="#part1">Part 1: MESA Basics</a>
  <nav class="nav nav-pills flex-column">
    <a class="nav-link ml-3 my-1" href="#part1a">Structure of Work Directory</a>
    <a class="nav-link ml-3 my-1" href="#part1b">MESA Output</a>
    <a class="nav-link ml-3 my-1" href="#part1c">Working with Inlists</a>
    <a class="nav-link ml-3 my-1" href="#part1d">Compiling, Running, and Restarting</a>
  </nav>

</nav>
