<nav id="side-nav" class="nav navbar navbar-light bg-light">
  <nav class="nav nav-pills flex-column">
    <a class="nav-item" href="#overview">Overview</a>
    <a class="nav-item" href="#part0">Part 0: Before You Arrive</a>
    <nav class="nav nav-pills flex-column">
      <a class="nav-item ml-3 my-1" href="#part0a">Installing the SDK</a>
      <a class="nav-item ml-3 my-1" href="#part0b">Installing MESA</a>
      <a class="nav-item ml-3 my-1" href="#part0c">Your First MESA Run</a>
    </nav>
    <a class="nav-item" href="#part1">Part 1: MESA Basics</a>
    <nav class="nav nav-pills flex-column">
      <a class="nav-item ml-3 my-1" href="#part1a">Structure of Work Directory</a>
      <!-- <a class="nav-item ml-3 my-1" href="#part1b">Installing MESA</a> -->
      <!-- <a class="nav-item ml-3 my-1" href="#part1c">Your First MESA Run</a> -->
    </nav>

  </nav>
</nav>
