<a href="https://ui.adsabs.harvard.edu/abs/2019ApJS..243...10P/abstract" class="list-group-item list-group-item-action" target=_blank>
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">Modules for Experiments in Stellar Astrophysics (MESA): Pulsating Variable Stars, Rotation, Convective Boundaries, and Energy Conservation</h5>
    <small>2019</small>
  </div>
  <p class="mb-1">Bill Paxton, R. Smolec, Josiah Schwab, et al.</p>
  <small>The Astrophysical Journal Supplement Series</small>
</a><a href="https://ui.adsabs.harvard.edu/abs/2018ApJ...867L..30T/abstract" class="list-group-item list-group-item-action" target=_blank>
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">The Impact of White Dwarf Luminosity Profiles on Oscillation Frequencies</h5>
    <small>2018</small>
  </div>
  <p class="mb-1">F. X. Timmes, Richard H. D. Townsend, Evan B. Bauer, et al.</p>
  <small>The Astrophysical Journal</small>
</a><a href="https://ui.adsabs.harvard.edu/abs/2018ApJS..234...19F/abstract" class="list-group-item list-group-item-action" target=_blank>
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">The Impact of Nuclear Reaction Rate Uncertainties on the Evolution of Core-collapse Supernova Progenitors</h5>
    <small>2018</small>
  </div>
  <p class="mb-1">C. E. Fields, F. X. Timmes, R. Farmer, et al.</p>
  <small>The Astrophysical Journal Supplement Series</small>
</a><a href="https://ui.adsabs.harvard.edu/abs/2017MNRAS.464.3568P/abstract" class="list-group-item list-group-item-action" target=_blank>
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">The volumetric rate of superluminous supernovae at z ̃ 1</h5>
    <small>2017</small>
  </div>
  <p class="mb-1">S. Prajs, M. Sullivan, M. Smith, et al.</p>
  <small>Monthly Notices of the Royal Astronomical Society</small>
</a><a href="https://ui.adsabs.harvard.edu/abs/2016ApJ...819...35A/abstract" class="list-group-item list-group-item-action" target=_blank>
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">Rapidly Rising Transients in the Supernova—Superluminous Supernova Gap</h5>
    <small>2016</small>
  </div>
  <p class="mb-1">Iair Arcavi, <strong>William M. Wolf</strong>, D. Andrew Howell, et al.</p>
  <small>The Astrophysical Journal</small>
</a><a href="https://ui.adsabs.harvard.edu/abs/2016MNRAS.455..668S/abstract" class="list-group-item list-group-item-action" target=_blank>
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">Population of post-nova supersoft X-ray sources</h5>
    <small>2016</small>
  </div>
  <p class="mb-1">Monika D. Soraisam, Marat Gilfanov, <strong>William M. Wolf</strong>, et al.</p>
  <small>Monthly Notices of the Royal Astronomical Society</small>
</a><a href="https://ui.adsabs.harvard.edu/abs/2015ApJ...803...76C/abstract" class="list-group-item list-group-item-action" target=_blank>
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">Photoionization Heating of Nova Ejecta by the Post-outburst Supersoft Source</h5>
    <small>2015</small>
  </div>
  <p class="mb-1">Timothy Cunningham, <strong>William M. Wolf</strong>, and Lars Bildsten</p>
  <small>The Astrophysical Journal</small>
</a><a href="https://ui.adsabs.harvard.edu/abs/2014ApJ...791L...5T/abstract" class="list-group-item list-group-item-action" target=_blank>
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">Identification of the Optical Counterpart of Fermi Black Widow Millisecond Pulsar PSR J1544+4937</h5>
    <small>2014</small>
  </div>
  <p class="mb-1">Sumin Tang, David L. Kaplan, E. Sterl Phinney, et al.</p>
  <small>The Astrophysical Journal</small>
</a><a href="https://ui.adsabs.harvard.edu/abs/2014ApJ...786...61T/abstract" class="list-group-item list-group-item-action" target=_blank>
  <div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">An Accreting White Dwarf near the Chandrasekhar Limit in the Andromeda Galaxy</h5>
    <small>2014</small>
  </div>
  <p class="mb-1">Sumin Tang, Lars Bildsten, <strong>William M. Wolf</strong>, et al.</p>
  <small>The Astrophysical Journal</small>
</a>