<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="tutoring, tutor, ASU, physics, mathematics, 
  math, calculus, computer science, Scottsdale, Phoenix, Tempe, Paradise 
  Valley, Mesa, astrophysics, astronomy, Bill Wolf, Wolf"/>
  <meta name="description" content="Learn physics, mathematics, or computer
  science from an expert tutor in Scottsdale, Phoenix, Tempe, Mesa, or Paradise Valley."/>
  <meta name="author" content="Bill Wolf"/>
  <title>{{ page.title || "Wolf Tutoring" }}</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" media="screen">
  
  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="/css/extras.css" media="screen">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
  });
  </script>
  <script type="text/javascript" async src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML'></script>


  <!-- FontAwesome -->
<!--   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
 -->
  <!-- tooltipster CSS -->
  <!-- <link rel="stylesheet" type="text/css" -->
                         <!-- href="/tooltipster/dist/css/plugins/tooltipster/sideTip/themes/tooltipster&#45;sideTip&#45;light.min.css'> -->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
