<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <h2>More Info Coming Soon</h2>
    <p>A more friendly description of my research is forthcoming as of April 2018. For now, know that I focus my studies on accreting white dwarf stars. In particular, I model classical and recurrent novae, which are the thermonuclear runways that result from this accretion.
    
        Find me on <a href=https://ui.adsabs.harvard.edu/#search/q=orcid%3A0000-0002-6828-0630&sort=date%20desc%2C%20bibcode%20desc> ADS </a> for an exhaustive list of my refereed publications, or look at my <a href=/about_bill/cv.pdf> CV </a> for a more general summary.</p>
  </div>
</div>

<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
