<div class="row">
  <div class="col-sm-12 col-md-7 col-lg-8 vcenter">
    <h2>Overview</h2>
    <p>
      I am interested in stellar structure and evolution-- how stars live and die. In particular, I make computer models of classical and recurrent novae, which are the thermonuclear runways that result from this accretion. I then use these models to predict and explain observations of these events, dozens of which are detected every year.
    </p>
    <div class='d-md-none d-lg-block'>
      <p>
        Novae are a common event in the universe, and their prodigious luminositities, at tens or hundreds of thousands of times greater than that of our sun, make them visible in other galaxies. They are important in the chemical evolution of the galaxies, and they may be an important stepping stone in the path to type Ia supernovae, which are violent explosions that created half of the iron in your body.
      </p>
      <p>
        Find me on <a href=https://ui.adsabs.harvard.edu/#search/q=orcid%3A0000-0002-6828-0630&sort=date%20desc%2C%20bibcode%20desc> ADS </a> for an exhaustive list of my refereed publications, or look at my <a href=/about_bill/cv.pdf> CV </a> for a more general summary.
      </p>
    </div>
  </div>
  <div class="col-sm-12 col-md-5 col-lg-4">
    <figure class='figure'>
      <img src="/images/rsoph_pparc.jpg" class='figure-img img-fluid rounded' alt='Recurrent Nova RS Oph'>
      <figcaption class='figure-caption'>
        Artist's conception of the recurrent nova RS Oph. Credit: 
        <a href="www.astroart.org" target=_blank>
          David A. Hardy
        </a>
      </figcaption>
    </figure>
  </div>
</div>
<div class="buffer-small"></div>
<div class="row d-none d-md-block d-lg-none">
  <div class="col">
    <p>
      Novae are a common event in the universe, and their prodigious luminositities, at tens or hundreds of thousands of times greater than that of our sun, make them visible in other galaxies. They are important in the chemical evolution of the galaxies, and they may be an important stepping stone in the path to type Ia supernovae, which are violent explosions that created half of the iron in your body.
    </p>
    <p>
      Find me on <a href=https://ui.adsabs.harvard.edu/#search/q=orcid%3A0000-0002-6828-0630&sort=date%20desc%2C%20bibcode%20desc> ADS </a> for an exhaustive list of my refereed publications, or look at my <a href=/about_bill/cv.pdf> CV </a> for a more general summary.
    </p>
  </div>
</div>

<div class="row">
  <div class='col'>
    <h2>First Author Papers</h2>
    <div class="list-group">
      {% include first_author_papers.html %}
    </div>
  </div>
</div>
<div class="buffer-small"></div>
<div class="row">
  <div class="col">
    <h2>Other Papers</h2>
    <div class="list-group">
      {% include other_papers.html %}
    </div>
  </div>
</div>

<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
