<div class="row">
  <div class="col">
    <h2>Teaching Philosophy</h2>
    <p>
      I believe learning should be an active experience. Students in my classes should not be expected to sit back and relax as I drone on in the front. Instead, they will regularly be invited to participate by answering questions, discussing challenges with fellow classmates, and completing group assignments.
    </p>
    <p>
      In larger service classes, the interactive aspect of my teaching typically takes the form of iClicker questions that invite students to engage with new concepts and definitions immediately after their introduction to help crystallize them. Not only does this keep students's minds engaged in lecture, it also informs me of what topics are unclear so I can reinforce them before moving on.
    </p>
    <h2>Teaching Assignments</h2>
    <p>
      Assignments in all named terms are from my work at the <a href="https://www.uwec.edu/physics" target=_blank>Department of Physics and Astronomy</a> at the <a href="https://www.uwec.edu" target=_blank>University of Wisconsin-Eau Claire</a>. Previous assignments are summarized under "Past Teaching Assignments."
    </p>
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="current">
          <h2 class='mb-0'>
            <button class='btn btn-link stretched-link' data-toggle='collapse' data-target='#collapseS2020' aria-expanded="true" aria-controls="collapseS2020">
              Spring 2020 Teaching Assignments
            </button>
          </h2>
        </div>
        <div id='collapseS2020' class="collapse show" area-labelledby='current' data-parent='#accordion'>
          <div class='card-body'>
            <table class="table table-striped classes">
              <tr>
                <th>Course #</th>
                <th>Name</th>
                <th>Section</th>
                <th>Meeting Times</th>
                <th>Location</th>
              </tr>
              <tr>
                <td>PHYS 211</td>
                <td>General Physics I</td>
                <td>002</td>
                <td>MTWF 12:00 - 12:50</td>
                <td>Phillips 117</td>
              </tr>
              <tr>
                <td>PHYS 212</td>
                <td>General Physics II</td>
                <td>001</td>
                <td>MWF 9:00 - 9:50</td>
                <td>Phillips 413</td>
              </tr>
              <tr>
                <td>PHYS 212</td>
                <td>General Physics II (Lab)</td>
                <td>312</td>
                <td>M 16:00 - 17:50</td>
                <td>Phillips 215</td>
              </tr>
              <tr>
                <td>PHYS 212</td>
                <td>General Physics II (Lab)</td>
                <td>314</td>
                <td>T 10:00 - 11:50</td>
                <td>Phillips 215</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="F2019">
          <h2 class='mb-0'>
            <button class='btn btn-link stretched-link' data-toggle='collapse' data-target='#collapseF2019' aria-expanded="false" aria-controls="collapseF2019">
              Fall 2019 Teaching Assignments
            </button>
          </h2>
        </div>
        <div id='collapseF2019' class="collapse" area-labelledby='F2019' data-parent='#accordion'>
          <div class="card-body">
            <table class="table table-striped classes">
              <tr>
                <th>Course #</th>
                <th>Name</th>
                <th>Section</th>
                <th>Meeting Times</th>
                <th>Location</th>
              </tr>
              <tr>
                <td>PHYS 211</td>
                <td>General Physics I</td>
                <td>002</td>
                <td>MWRF 11:00 - 11:50</td>
                <td>Centennial 1704</td>
              </tr>
              <tr>
                <td>PHYS 211</td>
                <td>General Physics I</td>
                <td>003</td>
                <td>MWRF 13:00 - 13:50</td>
                <td>Centennial 1704</td>
              </tr>
              <tr>
                <td>PHYS 211</td>
                <td>General Physics I (Lab)</td>
                <td>315</td>
                <td>T 8:00 - 9:50</td>
                <td>Phillips 208</td>
              </tr>
              <tr>
                <td>PHYS 211</td>
                <td>General Physics I (Lab)</td>
                <td>316</td>
                <td>T 10:00 - 11:50</td>
                <td>Phillips 208</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="Past">
          <h2 class='mb-0'>
            <button class='btn btn-link stretched-link' data-toggle='collapse' data-target='#collapsePast' aria-expanded="false" aria-controls="collapsePast">
              Past Teaching Assignments
            </button>
          </h2>
        </div>
        <div id='collapsePast' class="collapse" area-labelledby='Past' data-parent='#accordion'>
          <div class='card-body'>
            <h4> Maricopa County Community Colleges </h4>
            <p>
              I taught these class concurrently with a postdoctoral research position at ASU. The Spring 2019 offering of AST 111 was taught at <a href="https://www.mesacc.edu" target=_blank>Mesa Community College</a>, and all other classes were taught at <a href="https://www.cgc.edu" target=_blank>Chandler-Gilbert Community College</a>.
            </p>
            <table class="table table-striped classes">
              <tr>
                <th>Year</th>
                <th>Semester</th>
                <th>Course Number</th>
                <th>Course Name</th>
              </tr>
              <tr>
                <td>2019</td>
                <td>Spring</td>
                <td>AST 106</td>
                <td>Life in the Universe</td>
              </tr>
              <tr>
                <td>2019</td>
                <td>Spring</td>
                <td>AST 111</td>
                <td>Introuction to Solar Systems Astronomy Lec./Lab</td>
              </tr>
              <tr>
                <td>2018</td>
                <td>Fall</td>
                <td>AST 111</td>
                <td>Introuction to Solar Systems Astronomy</td>
              </tr>
              <tr>
                <td>2018</td>
                <td>Fall</td>
                <td>AST 113</td>
                <td>Introuction to Solar Systems Astronomy Lab</td>
              </tr>
              <tr>
                <td>2018</td>
                <td>Fall</td>
                <td>AST 112</td>
                <td>Introuction to Stars, Galaxies, and Cosmology</td>
              </tr>
              <tr>
                <td>2018</td>
                <td>Fall</td>
                <td>AST 114</td>
                <td>Introuction to Stars, Galaxies, and Cosmology Lab</td>
              </tr>
            </table>

            <h4 class='mt-5'> Teaching Assistant Assignments at UC Santa Barbara </h4>
            <p> I was a teaching assistant for these classes by holding discussion sections, overseeing labs, grading, and holding office hours.</p>
            <table class="table table-striped classes">
            <tr>
              <th>Year</th>
              <th>Quarter</th>
              <th>Course Number</th>
              <th>Course Name</th>
              <th>Instructor(s)</th>
            </tr>
            <tr>
              <td>2013</td>
              <td>Fall</td>
              <td>PHYS 232</td>
              <td>Stellar Structure and Evolution</td>
              <td>Lars Bildsten</td>
            </tr>
            <tr>
              <td><a href="http://www.deepspace.ucsb.edu/classes/physics-134-observational-astrophysics-spring-2012">2012</a></td>
              <td><a href="http://www.deepspace.ucsb.edu/classes/physics-134-observational-astrophysics-spring-2012">Spring</a></td>
              <td><a href="http://www.deepspace.ucsb.edu/classes/physics-134-observational-astrophysics-spring-2012">PHYS 134</a></td>
              <td><a href="http://www.deepspace.ucsb.edu/classes/physics-134-observational-astrophysics-spring-2012">Observational Astrophysics</a></td>
              <td><a href="http://www.deepspace.ucsb.edu/classes/physics-134-observational-astrophysics-spring-2012">Philip Lubin</a></td>
            </tr>
            <tr>
              <td>2012</td>
              <td>Winter</td>
              <td>PHYS 1</td>
              <td>General Physics 1 (Discussion)</td>
              <td>Roger Freedman</td>
            </tr>
            <tr>
              <td>2012</td>
              <td>Winter</td>
              <td>PHYS 133</td>
              <td>Galaxies and Cosmology</td>
              <td>Crystal Martin</td>
            </tr>
            <tr>
              <td>2011</td>
              <td>Fall</td>
              <td>PHYS 132</td>
              <td>Stellar Structure</td>
              <td>Crystal Martin</td>
            </tr>
            <tr>
              <td>2011</td>
              <td>Fall</td>
              <td>PHYS 3/3L</td>
              <td>General Physics 3 (Laboratory)</td>
              <td>Everett Lipman</td>
            </tr>
            <tr>
              <td><a href="archive/astro2/index.html">2011</a></td>
              <td><a href="archive/astro2/index.html">Spring</a></td>
              <td><a href="archive/astro2/index.html">ASTRO 2</a></td>
              <td><a href="archive/astro2/index.html">History of the Universe</a></td>
              <td><a href="archive/astro2/index.html">Tommaso Treu</a></td>
            </tr>
            <tr>
              <td><a href="archive/astro1/index.html">2011</a></td>
              <td><a href="archive/astro1/index.html">Winter</a></td>
              <td><a href="archive/astro1/index.html">ASTRO 1</a></td>
              <td><a href="archive/astro1/index.html">Basic Astronomy</a></td>
              <td><a href="archive/astro1/index.html">Tommaso Treu</a></td>
            </tr>
            <tr>
              <td>2010</td>
              <td>Fall</td>
              <td>PHYS 3/3L</td>
              <td>General Physics 3 (Laboratory)</td>
              <td>David Stuart and Sathya Guruswamy</td>
            </tr>
            <tr>
              <td>2010</td>
              <td>Fall</td>
              <td>PHYS 132</td>
              <td>Stellar Structure</td>
              <td>Crystal Martin</td>
            </tr>

            </table>
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>