<div class="row">
  <div class="col">
    <h2> Current Teaching Assignments</h2>
    <p>
      In Fall 2019 I will begin teaching at the <a href="https://www.uwec.edu/physics" target=_blank>Department of Physics and Astronomy</a> at the <a href="https://www.uwec.edu" target=_blank>University of Wisconsin-Eau Claire</a>. I will start by teaching two lecture sections and two lab sections of General Physics (PHYS 211).
    </p>
    <p>
      I also run <a href="https://wolftutoring.com">a small private tutoring business</a> in the Scottsdale area.
    </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2> Professorial Teaching Assignments at Maricopa County Community Colleges </h2>
    <p>
      I taught these class concurrently with a postdoctoral research position at ASU. The Spring 2019 offering of AST 111 was taught at <a href="https://www.mesacc.edu" target=_blank>Mesa Community College</a>, and all other classes were taught at <a href="https://www.cgc.edu" target=_blank>Chandler-Gilbert Community College</a>.
    </p>
    <table class="table table-striped classes">
      <tr>
        <th>Year</th>
        <th>Semester</th>
        <th>Course Number</th>
        <th>Course Name</th>
      </tr>
      <tr>
        <td>2019</td>
        <td>Spring</td>
        <td>AST 106</td>
        <td>Life in the Universe</td>
      </tr>
      <tr>
        <td>2019</td>
        <td>Spring</td>
        <td>AST 111</td>
        <td>Introuction to Solar Systems Astronomy Lec./Lab</td>
      </tr>
      <tr>
        <td>2018</td>
        <td>Fall</td>
        <td>AST 111</td>
        <td>Introuction to Solar Systems Astronomy</td>
      </tr>
      <tr>
        <td>2018</td>
        <td>Fall</td>
        <td>AST 113</td>
        <td>Introuction to Solar Systems Astronomy Lab</td>
      </tr>
      <tr>
        <td>2018</td>
        <td>Fall</td>
        <td>AST 112</td>
        <td>Introuction to Stars, Galaxies, and Cosmology</td>
      </tr>
      <tr>
        <td>2018</td>
        <td>Fall</td>
        <td>AST 114</td>
        <td>Introuction to Stars, Galaxies, and Cosmology Lab</td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2> Teaching Assistant Assignments at UC Santa Barbara </h2>
    <p> I was a teaching assistant for these classes by holding discussion sections, overseeing labs, grading, and holding office hours.</p>
    <table class="table table-striped classes">
    <tr>
      <th>Year</th>
      <th>Quarter</th>
      <th>Course Number</th>
      <th>Course Name</th>
      <th>Instructor(s)</th>
    </tr>
    <tr>
      <td>2013</td>
      <td>Fall</td>
      <td>PHYS 232</td>
      <td>Stellar Structure and Evolution</td>
      <td>Lars Bildsten</td>
    </tr>
    <tr>
      <td><a href="http://www.deepspace.ucsb.edu/classes/physics-134-observational-astrophysics-spring-2012">2012</a></td>
      <td><a href="http://www.deepspace.ucsb.edu/classes/physics-134-observational-astrophysics-spring-2012">Spring</a></td>
      <td><a href="http://www.deepspace.ucsb.edu/classes/physics-134-observational-astrophysics-spring-2012">PHYS 134</a></td>
      <td><a href="http://www.deepspace.ucsb.edu/classes/physics-134-observational-astrophysics-spring-2012">Observational Astrophysics</a></td>
      <td><a href="http://www.deepspace.ucsb.edu/classes/physics-134-observational-astrophysics-spring-2012">Philip Lubin</a></td>
    </tr>
    <tr>
      <td>2012</td>
      <td>Winter</td>
      <td>PHYS 1</td>
      <td>General Physics 1 (Discussion)</td>
      <td>Roger Freedman</td>
    </tr>
    <tr>
      <td>2012</td>
      <td>Winter</td>
      <td>PHYS 133</td>
      <td>Galaxies and Cosmology</td>
      <td>Crystal Martin</td>
    </tr>
    <tr>
      <td>2011</td>
      <td>Fall</td>
      <td>PHYS 132</td>
      <td>Stellar Structure</td>
      <td>Crystal Martin</td>
    </tr>
    <tr>
      <td>2011</td>
      <td>Fall</td>
      <td>PHYS 3/3L</td>
      <td>General Physics 3 (Laboratory)</td>
      <td>Everett Lipman</td>
    </tr>
    <tr>
      <td><a href="archive/astro2/index.html">2011</a></td>
      <td><a href="archive/astro2/index.html">Spring</a></td>
      <td><a href="archive/astro2/index.html">ASTRO 2</a></td>
      <td><a href="archive/astro2/index.html">History of the Universe</a></td>
      <td><a href="archive/astro2/index.html">Tommaso Treu</a></td>
    </tr>
    <tr>
      <td><a href="archive/astro1/index.html">2011</a></td>
      <td><a href="archive/astro1/index.html">Winter</a></td>
      <td><a href="archive/astro1/index.html">ASTRO 1</a></td>
      <td><a href="archive/astro1/index.html">Basic Astronomy</a></td>
      <td><a href="archive/astro1/index.html">Tommaso Treu</a></td>
    </tr>
    <tr>
      <td>2010</td>
      <td>Fall</td>
      <td>PHYS 3/3L</td>
      <td>General Physics 3 (Laboratory)</td>
      <td>David Stuart and Sathya Guruswamy</td>
    </tr>
    <tr>
      <td>2010</td>
      <td>Fall</td>
      <td>PHYS 132</td>
      <td>Stellar Structure</td>
      <td>Crystal Martin</td>
    </tr>

    </table>
  </div>
</div>