---
---
<html lang="en">
{% include header_leiden.html %}
<body id='leiden-body'>
  <div class="splash-leiden">
    <h1 class='display-2'>{{page.header}}</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 sticky-top align-self-start d-none d-md-block" id="super-side-nav">
        {% include navbar_leiden.html %}
      </div>
      <div class="col-12 col-md-9" data-spy="scroll" data-target="#side-nav" data-offset="0" id="leiden-instructions">
        {{ content }}
      </div>
    </div>      
  </div>
</body>
{% include script_leiden.html %}
</html>
