---
title: Wolf Tutoring
---
<!DOCTYPE html>
<html lang="en">
{% include header.html %}
<body>
  <div class='wrapper'>
    {% include navbar.html %}
    <div class="splash bckgrd bckgrd-3">
      <noscript>
        <h1>{{page.header}}</h1>
      </noscript>
      <h1 class='initially-hidden'>{{page.header}}</h1>
    </div>
    <div class="container">
      {{ content }}
      <div class="push">
        {% include footer.html %}
      </div>
    </div>
  </div>
</body>
</html>
{% include script.html %}
<script src="/js/resources.js"></script>
